@import "./src/assets/styles/variables";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.navbar-big {
  height: 75px;
}

.navbar-small {
  height: 50px;
}

mat-toolbar {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);

  a {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    margin: 0 7px 0 0;
    padding: 27px 10px;

    mat-icon {
      margin-top: -3px;
    }
  }

  a:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: map-get($primary-map, 800);
  }

}

mat-icon {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 10px;
}

.logo-big {
  margin-left: 10px;
  height: 50px;
  width: auto;
}

.logo-small {
  height: 25px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
}

mat-sidenav-content {
  img {
    cursor: pointer;
  }
  scrollbar-width: none;
}

mat-sidenav-content::-webkit-scrollbar {
  display: none;
}

.mat-drawer-container {
  background-color: inherit;
}

.close-button {
  cursor: pointer;
}

.mat-drawer {
  background-color: map-get($primary-map, 800);

  .mat-list-item {
    color: rgba(255, 255, 255, 0.85);
  }

  .mat-list-item:hover {
    background: none;
  }

  .mat-ripple {
    visibility: hidden;
  }
}

