@import 'src/assets/styles/_variables.scss';

mat-dialog-content {
  padding-left: 0;
}

.mat-button[disabled] {
  color: rgba(255, 255, 255, 0.3);
}

.flex-container-movies {
  display: flex;
  flex-direction: column;

  .movie {
    display: flex;
    flex-direction: row;
    padding: 16px 0;

    .left {
      width: 100px;
      height: 150px;
      margin-right: 24px;
      border: 4px solid white;
      border-radius: 4px;
      position: relative;

      .hover {
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        transition: opacity 0.3s ease-in-out;

        mat-icon {
          opacity: 0;
          color: green;
        }

      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .left:hover,  {
      transition: 0.7s;
      border: 4px solid green;
      cursor: pointer;

      .hover {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }
    }

    .left-selected {
      border: 4px solid green;

      .hover {
        opacity: 1;

        mat-icon {
          opacity: 1;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;

      h5 {
        font-size: 16px;
        color: white;
      }

      .date, .genres {
        display: inline-flex;
        color: $light-gray;
      }

    }
  }
}




