
h1 {
  color: white;
  margin: 30px 20px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: center;
}

.h1-big {
  font-size: 40px;
}

.h1-small {
  font-size: 25px;
}


.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.main-container {
  padding: 0 5%;
  margin: 0 auto;
  text-align: center;
}

mat-card{
  margin: 20px;
  width: 200px;
  display: inline-block;
  color: white;
  background-color: black;
  text-align: left;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.45);

  img {
    box-sizing: border-box;
    border: 4px solid white;
  }
}

mat-card:hover {
  //box-shadow: 0 0 20px 0 rgba(255, 233, 39, 0.7);
  img {
    box-sizing: border-box;
    transition: 0.5s;
    border: 4px solid rgba(255, 233, 39, 1);
  }
}
