html, body {
  height: 100%;
  background-image: url("../../assets/img/background1.jpg");
  background-position: center;
  background-size: cover;
  background-color: black;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .h1-big {
  font-size: 40px;
}

::ng-deep .h1-small {
  font-size: 25px;
}
