html, body {
  height: 100%;
  background-image: url("../../assets/img/background1.jpg");
  background-position: center;
  background-size: cover;
  background-color: black;
}

body {
  margin: 0 0 0 -1px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.h1-big {
  font-size: 40px;
}

.h1-small {
  font-size: 25px;
}

///* hide scrollbar */
//mat-dialog-content {
//  scrollbar-width: none;
//}
//mat-dialog-content::-webkit-scrollbar {
//  display: none;
//}

.custom-modal {
  mat-dialog-container, mat-vertical-stepper {
    background-color: mat-color($my-app-primary, default);
    color: white;
    button {
      box-shadow: none !important;

    }
    overflow: hidden;
  }

  // TODO: how to override these
  .mat-step-header .mat-step-label.mat-step-label-active, mat-step-header {
    color: white;
  }

  .mat-step-header .mat-step-label, .mat-step-header .mat-step-optional {
    color: rgba(255, 255, 255, 0.5);
  }

  .mat-stepper-vertical-line::before {
    border-left-color: rgba(255, 255, 255, 0.3);
  }

  .mat-step-header .mat-step-icon {
    background-color: mat-color($omniplex-yellow-map, 500);
    color: mat-contrast($omniplex-yellow-map, 500);
  }

  .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: mat-color($omniplex-yellow-map, 100);
    color: mat-contrast($omniplex-yellow-map, 100);
  }


  // TODO: why it's working only from hee
  .mat-vertical-content {
    padding-right: 0;
  }

  .mat-radio-outer-circle {
    border-color: white;
  }

  .mat-radio-input {
    visibility: hidden;
  }

  .mat-ripple {
    visibility: hidden;
  }

  button:hover {
    transition: 0.2s;
    background-color: mat-color($my-app-primary, 800);
  }
}
