@import 'variables';

.custom-modal {
  mat-dialog-container, mat-vertical-stepper {
    background-color: mat-color($my-app-primary, default);
    color: white;

    button {
      box-shadow: none !important;
    }

    overflow: hidden;
  }

  button {
    mat-icon {
      margin-top: -3px;
      margin-right: 2px;
    }
  }

  .mat-step-header .mat-step-label.mat-step-label-active, mat-step-header {
    color: white;
  }

  .mat-step-header .mat-step-label, .mat-step-header .mat-step-optional {
    color: rgba(255, 255, 255, 0.5);
  }

  .mat-stepper-vertical-line::before {
    border-left-color: rgba(255, 255, 255, 0.3);
  }

  .mat-step-header .mat-step-icon {
    background-color: map-get($accent-map, 500);
    color: map-get(map-get($accent-map, contrast), 500);
  }

  .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: map-get($accent-map, 100);
    color: map-get($accent-map, 100);
  }

  .mat-vertical-content {
    padding-right: 0;
  }

  .mat-radio-outer-circle {
    border-color: white;
  }

  .mat-radio-input {
    visibility: hidden;
  }

  // Tine de tema indigo-pink, de aia nu mergea
  //.mat-ripple {
  //  visibility: hidden;
  //}

  button:hover {
    transition: 0.2s;
    background-color: map-get($primary-map, 800);
  }

  .main-button:hover {
    background-color: map-get($accent-map, 500);
  }
}


.custom-image-modal {
  mat-dialog-container {
    background-color: map-get($primary-map, default);
    padding: 12px;
    color: white;

    button {
      box-shadow: none !important;
    }

    overflow: hidden;

    .mat-button[disabled][disabled] {
      color: map-get($primary-map, 600)
    }

    .mat-button[disabled][disabled]:hover {
      background-color: map-get($primary-map, 900);
    }

    button:hover {
      transition: 0.2s;
      background-color: map-get($primary-map, 800);
    }
  }

  mat-dialog-actions {
    padding-top: 0;
    justify-content: space-between;
    align-items: end;
  }
}


.mat-form-field-label {
  color: white !important;
}

.mat-form-field.mat-form-field-invalid {
  .mat-form-field-label, .mat-form-field-ripple {
    color: $warn-color !important;
  }
}

.mat-hint {
  color: $light-gray !important;
}

.mat-form-field-underline {
  background-color: $line-gray !important;
}

.mat-form-field-ripple {
  background-color: $accent-color !important;
}



