@import '~@angular/material/_theming.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// color theme - gray
$my-app-primary: mat-palette($mat-grey, 900);
$my-app-accent: mat-palette($mat-grey, 500);
$my-app-warn: mat-palette($mat-yellow, 500);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
