<h2 mat-dialog-title>Book tickets for {{movie.title}}</h2>

<mat-dialog-content class="mat-typography">
  <div class="yellow=theme">

  </div>
  <mat-vertical-stepper [linear]="true"  #stepper>

    <mat-step label="Choose dates" state="phone" [editable]="false">

      <p>Choose one of the following days:</p>
      <label id="day-radio-group-label">Pick your favorite season</label>
      <mat-radio-group
        aria-labelledby="day-radio-group-label"
        class="day-radio-group"
        color="warn"
        [(ngModel)]="selectedDay">
        <mat-radio-button
          class="day-radio-button"
          *ngFor="let day of availableDays"
          [disableRipple]="true"
          [value]="days[day]">
          {{days[day]}}
        </mat-radio-button>
      </mat-radio-group>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Choose seats" state="chat" [editable]="false">
      <p>Click one or more of the available seats to select: </p>
      <div class="screen">
        Screen
      </div>
      <div class="flex-container-seats">

        <!--    <div class="flex-item"-->
        <!--         *ngFor="let seat of seats"-->
        <!--         [ngClass]="{'break': (seat + 1) % cinemaWidth == 0 && seat != 0}">-->

        <!--      <div class="square" style="-->
        <!--          width: calc({{computeSquareWidth()}} - 10px);-->
        <!--          padding-bottom: calc({{computeSquareWidth()}}% - 10px);-->
        <!--          margin: 5px;-->
        <!--          font-size: {{computeSquareWidth() + 7}}px;">-->
        <!--        <div class="content">-->
        <!--          <div class="table">-->
        <!--            <div class="table-cell">-->
        <!--              R{{getInteger(seat / cinemaWidth + 1)}}-->
        <!--              S{{seat % cinemaWidth + 1}}-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->

        <!--      <br *ngIf="seat % cinemaWidth == 0 && seat != 0">-->
        <!--    </div>-->

        <div class="flex-row" *ngFor="let configRow of cinemaConfig; index as row">
          <div class="seat"
               *ngFor="let seat of configRow; index as column"
               [ngClass]="{
           'selected': cinemaConfig[row][column] == 'selected',
           'occupied': cinemaConfig[row][column] == 'occupied',
           'free': cinemaConfig[row][column] == 'free'
           }"
               (click)="selectSeat(row, column)">
            R{{row + 1}} S{{column + 1}}
          </div>
        </div>
      </div>
      <p *ngIf="selectedSeats.length == 0" class="italic">You haven't selected any seats</p>
      <p *ngIf="selectedSeats.length == 1">You selected {{selectedSeats.length}} seat</p>
      <p *ngIf="selectedSeats.length > 1">You selected {{selectedSeats.length}} seats</p>

      <div>
        <button mat-button (click)="stepper.reset()">Reset date</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Confirm selection" [editable]="false">
      <p>You're welcome.</p>
    </mat-step>

  </mat-vertical-stepper>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial
          [mat-dialog-close]="true"
          *ngIf="selectedSeats.length != 0"
          (click)="bookTickets()">
    Book
  </button>
</mat-dialog-actions>
