<h2 mat-dialog-title>Book tickets for {{movie.title}}</h2>

<mat-dialog-content>

  <mat-vertical-stepper [linear]="true" #stepper>

    <mat-step label="Choose dates"
              [editable]="true"
              [completed]="selectedDate !== ''">

      <label id="day-radio-group-label">Choose one of the following days:</label>
      <mat-radio-group
        aria-labelledby="day-radio-group-label"
        class="day-radio-group"
        color="accent"
        [(ngModel)]="selectedDate"
        (change)="selectedDateChanged()">
        <mat-radio-button
          class="day-radio-group"
          required
          *ngFor="let date of filterActiveDates(availableDates)"
          [disableRipple]="true"
          [value]="date.toJSONString()">
          {{movieDateDisplay(date.toJSONString())}}
        </mat-radio-button>
      </mat-radio-group>

      <div>
        <button mat-button matStepperNext type="button" [disabled]="selectedDate === ''">
          <span *ngIf="selectedDate === ''" class="italic">
            Select a day in order to continue
          </span>
          <span *ngIf="selectedDate !== ''">
            Next
          </span>
        </button>
      </div>
    </mat-step>

    <mat-step label="Choose seats"
              [editable]="true"
              [completed]="selectedSeats.length > 0">
      <p>Click one or more of the available seats to select: </p>
      <div class="screen">
        Screen
      </div>
      <div class="flex-container-seats">

        <div class="flex-row" *ngFor="let configRow of cinemaConfig; index as row">
          <div class="seat"
               *ngFor="let seat of configRow; index as column"
               [ngClass]="{
                 'selected': cinemaConfig[row][column] === 'selected',
                 'occupied': cinemaConfig[row][column] === 'occupied',
                 'free': cinemaConfig[row][column] === 'free'
                 }"
               (click)="selectSeat(row, column)">
            R{{row + 1}} S{{column + 1}}
          </div>
        </div>
      </div>
      <p *ngIf="selectedSeats.length === 0" class="italic">You haven't selected any seats</p>
      <p *ngIf="selectedSeats.length === 1">You selected {{selectedSeats.length}} seat</p>
      <p *ngIf="selectedSeats.length > 1">You selected {{selectedSeats.length}} seats</p>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext type="button" [disabled]="selectedSeats.length === 0">
          <span *ngIf="selectedSeats.length === 0" class="italic">
            Select a seat in order to continue
          </span>
          <span *ngIf="selectedSeats.length > 0">
            Next
          </span>
        </button>
      </div>
    </mat-step>

    <mat-step label="Confirm selection" [editable]="false">
      <p>You have the following tickets for {{movieDateDisplay(selectedDate)}}:</p>
      <!--      TODO: merita sa folosesc mat-list daca imi adauga prea mult default styling? (spatii prea mari int linii)-->
      <p *ngFor="let seat of selectedSeats">
        - Row {{seat.row + 1}}, Seat nr. {{seat.column + 1}}
      </p>
      <button mat-button matStepperPrevious>
        <mat-icon>create</mat-icon>
        Modify
      </button>
    </mat-step>

  </mat-vertical-stepper>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
    Cancel
  </button>
  <button mat-raised-button cdkFocusInitial color="accent" class="main-button"
          [mat-dialog-close]="true"
          *ngIf="stepper.selectedIndex === 2"
          (click)="bookSeats()">
    <mat-icon>shopping_cart</mat-icon>
    Pay & Book
  </button>
</mat-dialog-actions>
