<header>
  <div *ngIf="moviesPlaying.length > 0 then available else unavailable"></div>
  <ng-template #available>
    <h1 [ngClass]="{'h1-small': isHandset, 'h1-big': !isHandset}">
      Top movies currently running in the cinema:
    </h1>
  </ng-template>
  <ng-template #unavailable>
    <h1 class="italic" [ngClass]="{'h1-small': isHandset, 'h1-big': !isHandset}">
      There are no movies currently running in the cinema
    </h1>
  </ng-template>
</header>

<main class="main-container">
  <mat-card class="example-card"
            *ngFor="let movie of moviesPlaying"
            (click)="goToMovieDetails(movie.id)">
    <div mat-card-image class="crop-container">
      <div class="hover">
        <h1>
          <mat-icon>star</mat-icon>
          {{movie.voteAverage}}
        </h1>
        <h4 *ngFor="let genre of movie.genres | slice:0:3;">
          {{genre.name}}
        </h4>
        <button mat-raised-button color="accent">View Details</button>
      </div>
      <img src="{{movie.posterPath}}" alt="Movie poster">
    </div>
    <mat-card-content>
      <h4>{{movie.title}}</h4>
      <p>{{movie.releaseDate.toDate().getFullYear()}}</p>
    </mat-card-content>

  </mat-card>
</main>


