@import 'src/assets/styles/variables';

.create-form {
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  color: white;
  display: flex;
  flex-flow: column;

  .mat-form-field {
    min-width: 200px;
    margin: 10px 0;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.mat-dialog-content {
  overflow: auto;
}

.button-row {
  display: flex;
  justify-content: center;

  .view-button {
    margin: 10px 0;
    max-width: 170px;
    align-self: center;
  }
}

.screen {
  width: 100%;
  height: 20px;
  background-color: $line-gray;
  border-radius: 3px 3px 50% 50%;
  text-align: center;
  margin: 20px 0;
}

.flex-container-seats {
  display: flex;
  flex-direction: column;
  overflow: auto;

  .flex-row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto 10px auto;
    justify-content: space-evenly;

    .seat {
      font-size: 16px;
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;
      margin: 5px;
      border-radius: 3px;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      cursor: pointer;
      background-color: green;
    }
  }
}
