<header>
  <h1 [ngClass]="{'h1-small': (isHandset$ | async), 'h1-big': !(isHandset$ | async)}">
    The list of cinema rooms:
  </h1>
</header>

<section>
  <mat-list>

    <div *ngFor="let room of rooms; first as isFirst">
      <mat-divider *ngIf="isFirst"></mat-divider>
      <mat-list-item >

        <div class="flex-container-room">
          <div class="left">
            <mat-icon matListIcon>movie</mat-icon>
            <div class="text">
              <h4 matLine>Room "{{room.name}}"</h4>
              <p matLine class="cinema-size">{{room.rows}} rows, {{room.columns}} seats / row</p>
            </div>
          </div>
          <div class="right">
            <button mat-raised-button color="warn" (click)="openConfirmationDialog(room.roomID, room.name)">
              <mat-icon>delete</mat-icon>
              Remove
            </button>
            <button mat-raised-button color="primary" (click)="openEditDialog(room)">
              <mat-icon>create</mat-icon>
              Edit
            </button>
            <button mat-raised-button color="accent" class="details">
              <mat-icon>video_label</mat-icon>
              Schedule
            </button>
          </div>
        </div>

      </mat-list-item>
      <mat-divider></mat-divider>
    </div>

  </mat-list>

  <button mat-raised-button class="create-button" color="accent"
          (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
    Create new room
  </button>

</section>
