@import '../../../../../assets/styles/variables';

.mat-list-item-content {
  padding: 0 0 0 16px !important;
}

.create-button {
  margin-top: 24px;
}

.cinema-size {
  color: $light-gray !important;
}

mat-list-item {
  height: inherit !important;
  min-height: 72px;

  .mat-list-icon {
    padding-left: 8px;
  }
}

.flex-container-room {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0;

  h4, p {
    margin: 4px 0;
  }

  .left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 8px 0;
    min-width: 385px;

    .text {
      margin-left: 16px;
      max-width: calc(100vw - 150px);
    }
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    .details {
      mat-icon {
        color: map-get(map-get($accent-map, contrast), 100);
      }
    }

    button {
      margin: 8px 8px;

      mat-icon {
        margin-right: 4px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .flex-container-room  .right {
    button {
      font-size: 0;
      min-width: 50px;

      mat-icon {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }
}
