<header>
  <h1 [ngClass]="{'h1-small': isHandset, 'h1-big': !isHandset}">
    Cinema room "{{room.name}}"
  </h1>
  <p>{{room.rows}} rows, {{room.columns}} seats / row</p>
  <button mat-raised-button color="warn" (click)="openConfirmationDialog(room.roomID, room.name)">
    <mat-icon>delete</mat-icon>
    Remove
  </button>
  <button mat-raised-button color="primary" (click)="openEditDialog(room)">
    <mat-icon>create</mat-icon>
    Edit
  </button>
</header>

<section class="schedule">
  <h4>Movie schedule</h4>
  <button mat-raised-button color="accent" (click)="openMovieAddDialog()">
    <mat-icon>add</mat-icon>
    Add new movie
  </button>
</section>
