/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/_theming.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
  height: 100%;
  background-image: url("./assets/img/background1.jpg");
  background-position: center;
  background-size: cover;
  background-color: black;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// color theme - gray
$my-app-primary: mat-palette($mat-grey, 900);
$my-app-accent: mat-palette($mat-grey, 500);
$my-app-warn: mat-palette($mat-yellow, 500);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

