@import "src/assets/styles/variables";

h1 {
  margin: 0;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: left;
}

ng-template {
  color: $light-gray;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.container-big {
  padding: 0 5%;
}

.background {
  background-color: rgba(20, 20, 20, 0.8);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 30px 50px;
  height: 100%;
}


.line {
  background-color: $line-gray;
  margin-top: 15px;
  height: 1px;
  width: 100%;
}


.flex-container-details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  mat-icon {
    vertical-align: middle;
    padding-top: 2px;
    font-size: 19px;
  }

  div {
    color: $light-gray;
    margin: 15px 20px 0 0;
    padding-right: 20px;
    max-width: 100%;
  }

  #details2 {
    min-width: 200px;
  }

  #details1, #details3 #details4 {
    min-width: 100px;
  }

  #details1, #details2, #details3 {
    border-right: 1px solid $line-gray;
  }
}

@media (max-width: 767px) {
  .flex-container-img-video {
    justify-content: center;
  }
}

.flex-container-img-video {
  display: flex;
  flex-wrap: wrap;

  .main-img {
    box-sizing: border-box;
    border: 4px solid white;
    border-radius: 4px;
    height: auto;
    width: 100%;
  }

  .flex-container-reservation {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    button {
      margin-top: 15px;
      font-weight: bold;
    }
  }

  iframe {
    border: none;
    width: 100%;
    height: auto;
    margin-top: 30px;
    min-height: 250px;
  }

  @media (max-width: 767px) {
    .main-img {
      align-self: center;
    }
  }

  @media (min-width: 600px) and (max-width: 767px) {
    .flex-container-reservation {
      width: 70%;
    }
    iframe {
      min-height: 300px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .flex-container-reservation {
      width: 30%;
    }
    iframe {
      width: calc(70% - 30px);
      margin-top: 0;
      margin-left: 30px;
    }
  }

  @media (min-width: 1200px) {
    .flex-container-reservation {
      width: 300px;
    }
    iframe {
      width: calc(100% - 300px - 30px);
      margin-top: 0;
      margin-left: 30px;
    }
  }
}


.flex-container-text {
  display: flex;
  flex-wrap: wrap;

  h4 {
    color: white;
    font-size: 24px;
  }

  .text-left {
    flex: 1;
    min-width: 230px;

    h3 {
      color: white;
      font-weight: 500;
      font-size: 18px;
    }

    p {
      color: $light-gray;
    }

    .expand {
      margin-left: 71px;
      color: $light-gray;
      cursor: pointer;

      mat-icon {
        vertical-align: middle;
        padding-top: 2px;
        font-size: 19px;
      }

      a {
        font-style: italic;
        justify-content: center;
      }
    }

    mat-list {
      padding: 0 0 10px 0;
    }

    .mat-list-avatar {
      width: 60px;
      height: 60px;
    }
  }

  .text-right {
    flex: 2;
    min-width: 230px;


    p, span, .span-list {
      color: $light-gray;
    }

    .span-list {
      padding: 5px 0;
    }

    .italic {
      font-style: italic;
    }
  }

}


