<div class="container" [ngClass]="{'container-big': !isHandset}">
  <div class="background">

    <header>
      <h1 [ngClass]="{'h1-small': isHandset, 'h1-big': !isHandset}">
        {{movie.title}} ({{movie.releaseDate.getFullYear()}})
      </h1>
      <div class="line"></div>
    </header>

    <section class="flex-container-details">
      <!--          TODO: cum sa fac wrap la elemente si sa dispara linia daca se afla in capat?-->
      <div id="details1" *ngIf="movie.runtime > 0">
        <mat-icon>schedule</mat-icon>
        {{(movie.runtime / 60) | number:'1.0-0'}}h {{movie.runtime % 60}}min
      </div>

      <div id="details2" *ngIf="movie.genres.length > 0">
        <mat-icon>flag</mat-icon>
        <span *ngFor="let genre of movie.genres; last as isLast">
              {{genre.name}}<span *ngIf=" isLast">, </span>
        </span>
      </div>
      <div id="details3">
        <mat-icon>calendar_today</mat-icon>
        {{movie.releaseDate.toLocaleDateString(
        'en-GB',
        {
          day: 'numeric',
          month: 'short',
          year: 'numeric'
        })}}
      </div>
      <div id="details4" *ngIf="movie.voteAverage > 0">
        <mat-icon>star</mat-icon>
        {{movie.voteAverage}}
      </div>
    </section>

    <section class="flex-container-img-video">
      <div class="flex-container-reservation">
        <img class="main-img" src="{{movie.posterPath}}" alt="Movie poster">
        <button mat-raised-button color="accent" (click)="openReservationDialog()">
          <mat-icon>shopping_cart</mat-icon>
          Book tickets
        </button>
      </div>
      <iframe allowfullscreen [src]="youtubeVideo"></iframe>
    </section>

    <section class="flex-container-text">
      <div class="text-left">
        <div *ngIf="movie.cast">
          <h4>Cast</h4>
          <div *ngIf="fullCast then fullCastList else shortCastList"></div>
          <ng-template #shortCastList>
            <mat-list>
              <mat-list-item *ngFor="let person of movie.cast | slice:0:4">
                <img matListAvatar src="{{person.profilePath}}" alt="...">
                <h3 matLine> {{person.name}} </h3>
                <p matLine>
                  {{person.character}}
                </p>
              </mat-list-item>
            </mat-list>
            <div class="expand">
              <mat-icon>expand_more</mat-icon>
              <a (click)="fullCast = !fullCast">Full cast</a>
            </div>
          </ng-template>
          <ng-template #fullCastList>
            <mat-list>
              <mat-list-item *ngFor="let person of movie.cast">
                <img matListAvatar src="{{person.profilePath}}" alt="...">
                <h3 matLine> {{person.name}} </h3>
                <p matLine>
                  {{person.character}}
                </p>
              </mat-list-item>
            </mat-list>
            <div class="expand">
              <mat-icon>expand_less</mat-icon>
              <a (click)="fullCast = ! fullCast">Less details</a>
            </div>
          </ng-template>
        </div>

        <div *ngIf="movie.crew">
          <h4>Crew</h4>
          <div *ngIf="fullCrew then fullCrewList else shortCrewList"></div>
          <ng-template #shortCrewList>
            <mat-list>
              <mat-list-item *ngFor="let person of getDirectors(movie.crew)">
                <img matListAvatar src="{{person.profilePath}}" alt="...">
                <h3 matLine> {{person.name}} </h3>
                <p matLine>
                  {{person.job}}
                </p>
              </mat-list-item>
            </mat-list>
            <div class="expand">
              <mat-icon>expand_more</mat-icon>
              <a (click)="fullCrew = !fullCrew">Full crew</a>
            </div>
          </ng-template>
          <ng-template #fullCrewList>
            <mat-list>
              <mat-list-item *ngFor="let person of sortCrew(movie.crew)">
                <img matListAvatar src="{{person.profilePath}}" alt="...">
                <h3 matLine> {{person.name}} </h3>
                <p matLine>
                  {{person.job}}
                </p>
              </mat-list-item>
            </mat-list>
            <div class="expand">
              <mat-icon>expand_less</mat-icon>
              <a (click)="fullCrew = !fullCrew">Less details</a>
            </div>
          </ng-template>
        </div>

      </div>

      <div class="text-right">
        <h4>Synopsis</h4>

        <div *ngIf="movie.overview.length > 0 then overview else noOverview"></div>
        <ng-template #overview><p>{{movie.overview}}</p></ng-template>
        <ng-template #noOverview><p class="italic">No synopsis available yet.</p></ng-template>

        <h4>Production companies</h4>
        <div *ngFor="let company of movie.productionCompanies" class="span-list">
              <span>
                {{company.name}}<span *ngIf="company.originCountry"> ({{company.originCountry}})</span>
              </span>
        </div>
        <p *ngIf="movie.productionCompanies.length === 0">No companies available yet.</p>

        <h4>Financial figures</h4>
        <div class="span-list">
          Budget:
          <span *ngIf="movie.budget > 0">{{movie.budget / 1000000 | number:'1.0-2'}} million $</span>
          <span *ngIf="movie.budget === 0" class="italic"> no information</span>
        </div>
        <br>
        <div class="span-list">
          Revenue:
          <span *ngIf="movie.revenue > 0">{{movie.revenue / 1000000 | number:'1.0-2'}} million $</span>
          <span *ngIf="movie.revenue === 0" class="italic"> no information</span>
        </div>
      </div>

    </section>

    <section *ngIf="movie.images.length > 0" class="images">
      <h4>Images</h4>
      <p>Click on an image to expand it</p>
      <div class="flex-container-images">
        <div class="image-wrapper"
             *ngFor="let image of movie.images; index as i"
             [ngStyle]="{'width': (300 * image.aspectRatio).toString() + 'px'}">
          <img alt=""
               [src]="image.filePath"
               (click)="openImageDialog(movie.images, i)">
        </div>
      </div>
    </section>

  </div>
</div>
